<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>
    
    <div class="blogs content">
        <h2>All Blogs</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque vitae numquam esse sapiente impedit, velit temporibus dignissimos at explicabo possimus, culpa laudantium nulla hic harum distinctio minus eos! Eum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque vitae numquam esse sapiente impedit, velit temporibus dignissimos at explicabo possimus, culpa laudantium nulla hic harum distinctio minus eos! Eum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eaque vitae numquam esse sapiente impedit, velit temporibus dignissimos at explicabo possimus, culpa laudantium nulla hic harum distinctio minus eos! Eum.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>

